In [1]:
#Q1

a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

#first time b(),a is 2. second time b(), a is 4. thrid time b(), a is 6.

6

In [10]:
#Q2

def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")
    
file_length('midterm.py')
file_length('finalterm.py')

36
File finalterm.py not found.

In [21]:
#Q3 

class Marsupial:
    def __init__(self):
        self.items = list()
    
    def put_in_pouch(self, item):
        self.items.append(item)
    
    def pouch_content(self):
        return self.items

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('kitten')
m.put_in_pouch('firetruck')
print(m.pouch_content())

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    


k = Kangaroo(0,0)
print(k)
# I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_content()
# ['doll', 'firetruck', 'kitten']
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'kitten', 'firetruck']
I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

In [60]:
#Q4


def Collatz(x):
    x = int(x)
    if x == 1:
        return
    elif x % 2 == 0:
        x = int(x/2)
        print(x)
        Collatz(x)
    else:
        x = 3*x + 1
        print(x) 
        Collatz(x)
        
Collatz(x=input())

10
5
16
8
4
2
1

In [23]:
#Q5
def binary(n):
    if n == 0:
        return 0
    
    else:
        return (n % 2 + 10 * binary(int(n // 2)))

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

In [26]:
#Q6

from urllib.parse import urljoin
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.inside_heading = False
        self.headings = []
    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag in ['h1','h2','h3','h4','h5','h6']:
            self.inside_heading = True
            
    def handle_data(self, data):
        if self.inside_heading:
            self.headings.append(data)
    
    def handle_endtag(self, tag):
        if tag in ['h1','h2','h3','h4','h5','h6']:
            self.inside_heading = False
                        
    def getHeadings(self):
        'returns hyperlinks URLs in their absolute format'
        return self.headings
        

# infile = open('w3c.html') 
# content = infile.read()
# infile.close() 
from urllib.request import urlopen
url = 'http://www.w3.org/Consortium/mission.html'
resource = urlopen(url)
content = resource.read().decode()
hp = HeadingParser()
hp.feed(content)
hp.getHeadings()

['\n               ',
 '\n               ',
 'W3C',
 '\n            ',
 'Site Navigation',
 'About W3C ',
 'W3C Mission',
 'Open Standards Principles',
 'Design Principles',
 'Web for All',
 'Web on Everything',
 'Vision',
 'Web for Rich Interaction',
 'Web of Data and Services',
 'Web of Trust',
 'Footer Navigation',
 'Navigation',
 'Contact W3C',
 'W3C Updates']

In [30]:
#Q7

from urllib.request import urlopen
response = urlopen('http://www.w3c.org/Consortium/facts.html')


visited = set() # initialize visited to an empty set

def crawl2(url):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass
            

def collect_links(url):
    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links
    return urls


def webdir(url, depth, indent):
    if depth < 0:
        return
    
    print(" " * indent * 4 + url)
    links = collect_links(url)
    
    for link in links:
        try:
            webdir(link, depth - 1, indent + 1)
        except:
            pass
            
            
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/one.html
    http://reed.cs.depaul.edu/lperkovic/two.html
        http://reed.cs.depaul.edu/lperkovic/four.html
    http://reed.cs.depaul.edu/lperkovic/three.html
        http://reed.cs.depaul.edu/lperkovic/four.html

In [17]:
#8

import sqlite3
con = sqlite3.connect('weather1.db')
cur = con.cursor()
cur.execute("CREATE TABLE CityWeather (City text, Country text, Season text, Temperature float, Rainfall float)")

In [18]:
con.commit()
con.close()

In [19]:
import sqlite3
con = sqlite3.connect('weather1.db')
cur = con.cursor()

In [20]:
con.commit()

In [24]:
cur.execute("SELECT * FROM CityWeather")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [22]:
cur.execute("INSERT INTO CityWeather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO CityWeather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO CityWeather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO CityWeather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO CityWeather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO CityWeather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO CityWeather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO CityWeather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO CityWeather VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO CityWeather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO CityWeather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO CityWeather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

con.commit()

In [23]:
cur.execute("SELECT * FROM CityWeather")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [9]:
cur.execute("SELECT Temperature FROM CityWeather")
cur.fetchall()

[(24.8,),
 (24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [10]:
cur.execute("SELECT DISTINCT City FROM CityWeather")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [28]:
cur.execute("SELECT * FROM CityWeather WHERE country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [29]:
cur.execute("SELECT * FROM CityWeather WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [36]:
cur.execute("SELECT Country, City, Season FROM CityWeather WHERE Rainfall >= 200 and Rainfall <= 400")
cur.fetchall()

[('India', 'Mumbai', 'Fall'),
 ('United Kingdom', 'London', 'Winter'),
 ('United Kingdom', 'London', 'Fall')]

In [44]:
cur.execute("SELECT Country, City FROM CityWeather WHERE temperature > 20 ORDER by temperature")
cur.fetchall()

[('Egypt', 'Cairo'),
 ('Egypt', 'Cairo'),
 ('India', 'Mumbai'),
 ('India', 'Mumbai'),
 ('Egypt', 'Cairo'),
 ('India', 'Mumbai'),
 ('India', 'Mumbai')]

In [46]:
cur.execute("SELECT SUM(Rainfall) FROM CityWeather WHERE City ='Cairo'")
cur.fetchall()

[(27.6,)]

In [49]:
cur.execute("SELECT Season,SUM(Rainfall) FROM CityWeather GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [55]:
#9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print([w.upper() for w in words])

print([w.lower() for w in words])

print([len(w) for w in words])

print([(w.upper(), w.lower(), len(w)) for w in words])

print([w for w in words if len(w) >= 4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']